@import './utils/variables';
@import './utils/mixins';

@import './base/base';


.form {
  color: $clr-light;
  background-color: lighten($clr-background, 20%);
  width: max-content;
  margin: 3em auto;
  padding: 1em 3em 3em;
  border: 2px solid $clr-blue;

  h1 {
    text-align: center;
  }

  label {
    margin-right: 1.5em;
    margin-top: 1.5em;
    font-weight: 700;
    display: block;
    margin-bottom: 0.2em;
  }

  span[aria-label] {
    margin-right: 0.2em;
  }

  .btn {
    border: 2px solid $clr-blue;
    margin-top: 2em;
    padding: .5em .8em;
    border-radius: .8em;
    background-color: $clr-background;
    color: $clr-light;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;

    &:disabled {
      background-color: lighten($clr-background, 10%);
      border-color: lighten($clr-blue, 20%);
    }

    &:hover:enabled {
      color: darken($clr-light, 20%);
    }

    &:enabled:active {
      color: $clr-blue;
    }
  }

  .field {
    position: relative;

    input {
      width: 21em;
      height: 2em;
      font-size: 1.2rem;
      border: 2px solid grey;
      border-radius: 0.8em;
      outline: none;
      display: block;
      padding-left: .2em;
  
      &:focus {
        border: 2px solid $clr-blue;
      }
    }
    
    .describer {
      font-size: .9rem;
    }

    .show-password-icon {
      cursor: pointer;
      position: absolute;
      right: .5em;
      color: $clr-blue;
      top: .8em;
    }
  }
}

form + p {
  margin-top: 1em;
  .line a {
    color: $clr-blue;
    padding: .3em 0;
  }

}


.valid {
  color: green;
  @include icon-style
}

.invalid {
  color: red;
  @include icon-style;
}

.hide, .offscreen {
  display: none;
}

.display {
  display: inline;
}

.instruction {
  display: block;
  margin-top: 0.5em;
}
